body {
    background-color: black;
}

.content {
    width: 90%;
    background-color: white;
    color: #888;
    padding: 2%;
    margin: 2%;
        h1 {
            color: black;
            font-size: 42px;
            margin-bottom: 10px;
        }
        .upfront {
            display: inline-block;
            padding-right: 20px;
        }
        .intro-text {
            color: black;
            line-height: 1.4em;
            margin-top: 10px;
            width: 80%;
        }
}

.page-header {
    border: 3px double #000;
    position: relative;
        .trophy {
            display: inline-block;
            width: 10%;
            margin-left: 3%;
            margin-top: 5%;
            margin-bottom: 5%;
            vertical-align: middle;
        }

        .navigation {
            display: inline-block;
            width: 80%;
            vertical-align: middle;
            padding-top: 5%;
        }
        h1 {
            text-align: center;
        }

        nav {
            display: block;
            margin: 0 auto;
            width: 80%;
            a {
            display: inline-block;
            width: 20%;
            margin-bottom: 10%;
            margin-top: 5%;
            padding: 2%;
            border-radius: 10px;
            text-transform: uppercase;
            text-align: center;
            color: black;
            line-height: 1.3em;
            }
        }
}

.nominee-group {
    color: black;

    h3 {
        font-size: 2em;
        letter-spacing: .1em;
    }
        .nominee-image {
            width: 100%;
        }
}

.special-link {
    color: white;
    display: inline-block;
    border: 2px solid black;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 10px;
    text-decoration: none;
}


.nominee-group {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 50px;

    h3 {
        padding-top: 20px;
    }
    h4 {
        font-size: 20px;
    }
}

.best-picture-link {
    color: red;
    transition: .5s;
    text-decoration: none;

    &:hover {
        background-color: black;
        transition: 1s;
        color: white;
    }
}


.best-actor-link {
    color: blue;
    transition: .5s;
    text-decoration: none;

    &:hover {
        background-color: black;
        transition: 1s;
        color: white;
    }
}

.best-actress-link {
    color: #ff9898;
    transition: .5s;
    text-decoration: none;

    &:hover {
        background-color: black;
        transition: 1s;
        color: white;
    }
}

.best-director-link {
    color: green;
    transition: .5s;
    text-decoration: none;

    &:hover {
        background-color: black;
        transition: 1s;
        color: white;
    }
}

.nominee-group {
    font-family: helvetica, arial, sans-serif;
    background-color: darkgrey;
}

.nominee-groups {
    margin: 20px auto;
    width: 80%;
}

.nominee {
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align: top;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 20px;
        &:hover {
            color: red;
            transition: 1s;
            border-radius: 20px;
            background-color: black
        }
}

/*
.boyhood:hover {
    background: url(/images/boyhood-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.american-sniper {
    background: url(/images/american-sniper.jpg) 0 0 no-repeat;
    background-size: 100% 100%;

    &:hover {
        background: none;
    }
}

.budapest-hotel:hover {
    background: url(/images/budapest-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.birdman:hover {
    background: url(/images/birdman-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.selma:hover {
    background: url(/images/selma-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.imitation-game:hover {
    background: url(/images/selma-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.theory-of-everything:hover {
    background: url(/images/theory-of-everything-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
}

.whiplash:hover {
    background: url(/images/whiplash-poster.jpg) 0 0 no-repeat;
    background-size: 100% 100%;
} */
